<base target="_blank" />
<style type="text/css">
::-webkit-scrollbar {
	display: none;
}
</style>
<style id="cloudAttachStyle" type="text/css">
#divNeteaseBigAttach, #divNeteaseBigAttach_bak {
	display: none;
}
</style>
<style id="blockquoteStyle" type="text/css">
blockquote {
	display: none;
}
</style>

<table width="100%" height="100%" style="min-width: 348px;" border="0"
	cellspacing="0" cellpadding="0">
	<tr height="32px"></tr>
	<tr align="center">
		<td width="32px"></td>
		<td><table border="0" cellspacing="0" cellpadding="0"
				style="max-width: 600px;">
				<tr>
					<td><table width="100%" border="0" cellspacing="0"
							cellpadding="0">
							<tr>
								<td align="left"></td>
								<td align="right"></td>
							</tr>
						</table></td>
				</tr>
				<tr height="16"></tr>
				<tr>
					<td><table bgcolor="#D94235" width="100%" border="0"
							cellspacing="0" cellpadding="0"
							style="min-width: 332px; max-width: 600px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
							<tr>
								<td height="72px" colspan="3"></td>
							</tr>
							<tr>
								<td width="32px"></td>
								<td style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 24px; color: #FFFFFF; line-height: 1.25;">{{ title }}</td>
								<td width="32px"></td>
							</tr>
							<tr>
								<td height="18px" colspan="3"></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td><table bgcolor="#FAFAFA" width="100%" border="0"
							cellspacing="0" cellpadding="0"
							style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
							<tr height="16px">
								<td width="32px" rowspan="3"></td>
								<td></td>
								<td width="32px" rowspan="3"></td>
							</tr>
							<tr>
								<td><table style="min-width: 300px;" border="0"
										cellspacing="0" cellpadding="0">
										<tr>
											<td style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 13px; color: #202020; line-height: 1.5;">尊敬的{{ username }}，您好！</td>
										</tr>
										<tr>
											<td style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 13px; color: #202020; line-height: 1.5; overflow: auto;">
											{{ message }}
											请点击<a href="{{ uri }}">此处</a>
											<br>
											<b>此活动不是您本人所为吗？</b><br>要详细了解如何恢复您的帐户，请点击<a
												href=""
												data-meta-key="recover-account"
												style="text-decoration: none; color: #4285F4;"
												target="_blank">此处</a>。
											</td>
										</tr>
										<tr height="32px"></tr>
										<tr>
											<td style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 13px; color: #202020; line-height: 1.5;">此致<br>{{ website_name }}敬上</td>
										</tr>
										<tr height="16px"></tr>
										<tr>
											<td><table
													style="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 12px; color: #B9B9B9; line-height: 1.5;">
													<tr>
														<td>此电子邮件地址无法接收回复。如需更多信息，请访问 <a
															href=""
															data-meta-key="help"
															style="text-decoration: none; color: #4285F4;"
															target="_blank">{{ website_name }}</a>。
														</td>
													</tr>
												</table></td>
										</tr>
									</table></td>
							</tr>
							<tr height="32px"></tr>
						</table></td>
				</tr>
				<tr height="16"></tr>
			</table></td>
		<td width="32px"></td>
	</tr>
	<tr height="32px"></tr>
</table>

<style type="text/css">
body {
	font-size: 14px;
	font-family: arial, verdana, sans-serif;
	line-height: 1.666;
	padding: 0;
	margin: 0;
	overflow: auto;
	white-space: normal;
	word-wrap: break-word;
	min-height: 100px
}

td, input, button, select, body {
	font-family: Helvetica, 'Microsoft Yahei', verdana
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 95%
}

th, td {
	font-family: arial, verdana, sans-serif;
	line-height: 1.666
}

img {
	border: 0
}

header, footer, section, aside, article, nav, hgroup, figure, figcaption
	{
	display: block
}
</style>

<style id="ntes_link_color" type="text/css">
a, td a {
	color: #94754D
}
</style>
